.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 0 var(--spacing-3);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.slanted {
    transform: skewX(-20deg);
  }

  &:disabled {
    pointer-events: none;
  }
}

.content {
  &.slanted {
    transform: skewX(20deg);
  }
}

.variant-primary {
  color: var(--foreground-reverse-color);
  background-color: var(--foreground-color);

  &:hover {
    background-color: black;
  }
}

.variant-primary-reverse {
  color: var(--foreground-color);
  background-color: var(--foreground-reverse-color);

  &:hover {
    background-color: white;
  }
}

.variant-secondary {
  color: var(--foreground-reverse-color);
  background-color: var(--primary-color);

  &:hover {
    filter: saturate(1.5);
  }
}

.variant-tertiary {
  color: var(--foreground-color);
  background: #7f828f;
}

.variant-error {
  color: var(--foreground-reverse-color);
  background-color: var(--error-color);

  &:hover {
    filter: saturate(1.3);
  }
}

.loading {
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }

  .content {
    visibility: hidden;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
