.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 0 var(--spacing-3);

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.slanted {
    transform: skewX(-20deg);
  }
}

.content {
  &.slanted {
    transform: skewX(20deg);
  }
}

.variant-primary {
  color: var(--foreground-reverse-color);
  background-color: var(--foreground-color);

  &:hover {
    background-color: black;
  }
}

.variant-primary-reverse {
  color: var(--foreground-color);
  background-color: var(--foreground-reverse-color);

  &:hover {
    background-color: white;
  }
}

.variant-secondary {
  color: var(--foreground-reverse-color);
  background-color: var(--primary-color);

  &:hover {
    filter: saturate(1.5);
  }
}

.variant-error {
  color: var(--foreground-reverse-color);
  background-color: var(--error-color);

  &:hover {
    filter: saturate(1.3);
  }
}
