.container {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.container-width-small {
  max-width: 500px;
}

.container-width-medium {
  max-width: 800px;
}

.container-width-large {
  max-width: 1024px;
}

.container-width-full {
  max-width: none;
}
